<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-checkbox (change)="onToggleNode(node)" class="checklist-leaf-node" [checked]="isChecked"
          [disabled]="isDisable">
          {{node.item}}
        </mat-checkbox>
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
        <!-- <mat-icon>account_circle</mat-icon>
        <mat-icon>done</mat-icon>
        <mat-icon>schedule</mat-icon> -->

        <div [ngSwitch]="status">
          <mat-icon *ngSwitchCase="type.Has_Permission">lock_open</mat-icon>
          <mat-icon *ngSwitchCase="type.In_Progress">pending</mat-icon>
          <mat-icon *ngSwitchCase="type.No_Permission">lock</mat-icon>
        </div>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>


<!-- Has_Permission,
  In_Progress,
  No_Permission -->